img {
    width: 50%;
    border-style: double;
    border-width: 5px;
}

header {
    text-align: center;
}

h2 {
    text-align: center;
}

div {
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
    font-weight:bold;
}

body {
    background-color: hsl(89, 43%, 51%);
}

footer {
    margin-top: 50px;
}